/* Styles go here */
a, a:visited, a:active {
}

a, p, h1 {
    font-family: Helvetica;
}

p {
    font-size: 14px;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

    margin: 20px;
    margin-top: 5px;
}

#paperCanvas {
	display: inline-block;
	width: 50%;
	min-height: 350px;
	float: left;
}

#gcode-container {
	display: inline-block;
	width: 50%;
	float: left;
}

#textareas{
    width: 100%;
    min-height: 350px;	
    display: flex;
}

#latin {
    width: 100%;
    min-height: 350px;
    margin-right: 10px;
}

#gcode {
    width: 100%;
    min-height: 350px;
}

#output {
    margin-top: 20px;
}